*{
  text-decoration: none;
  color:white;
  padding:0.3rem;
  margin:0;
  font-size:20px;
}

body,html{
  background:#202124;
  position:relative;
  height: 100%;
  width:100%;
  overflow:hidden; 
  /*background-image: url(../img/slogan.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}


/* ------------- heading ------------- */
.container-head{
  display: flex;
  align-items:center;
  margin-bottom: 10px;
}

.container-button{
  flex-grow: 1;
  text-align:right;
  padding:4px 4px;
  margin:2px;
}

.button-calculate{
  display: inline-flex;
  padding: 10px 15px 5px 0px;
  align-items:center;
  background-color:rgb(70, 184, 42);
  border:none;
  border-radius: 5px;
}

.button-calculate:hover{
  background-color:rgb(66, 211, 30);
}

/* ------------- redirect ------------- */

.container-redirect{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px 400px 400px 400px;
}

.option-link{
  padding: 20px 35px 20px 20px;/*padding: 30px 45px 30px 30px;*/
  background-color: rgb(0, 40, 76);
}

.button-redirect{
  width: 100%;
  background:darkred;
  border-radius: 5px;
  border:none;
  margin:0.4rem;
  padding:10px;
}

.button-redirect:hover{
  background:rgb(205, 3, 3);
}

/* ------------- user loggin ------------- */
.user-form{
  border-radius:5px;
  position: absolute;
  padding:30px;
  background-color: rgb(0, 40, 76);
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.input-form {
  margin:0.4rem;
  padding:5px;
}

.button-form-signup{
  margin:0.4rem;
  color: black;
}

.button-form-login{
  margin:0.4rem;
  width: 70%;
  color: black;
}

.button-form-register-redirect{
  color: black;
}

.input-text{
  color:black;
}

/* ------------- user list ------------- */
.container-detail-user{
}

.detail-user-head{
  border-radius:20px;
  position: absolute;
  padding:15px;
  left:30%;
  top:20%;
  background-color:white;
  transform: translate(-21%,-20%);
}

label{
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

/* ------------- RatioCuentas ------------- */
.select-color *{
  color:black;
  padding: 1px;
}
/* ------------- media queries ------------- */
/*@media( max-width:400px){
 
}*/

